<ion-side-menus>
    <div ng-include="'pages/include/ionSide.html'"></div>
    <ion-side-menu-content>
        <div ng-include="'pages/include/header.html'"></div>
        <ion-content class="has-header">
            <div class="card">
                <div class="item item-divider">
                    <a href="#/banniNew">首页</a>
                    /
                    <span>产品介绍</span>
                </div>
                <div class="item item-text-wrap">
                    <div class="card-background-page" ng-click="jump('banniHistory')">
                        <img src="img/info_1.jpg" class="img-responsive" alt=""/>
                        <div class="card-title">班尼历史</div>
                        <div class="card-subtitle">BENNY HISTORY</div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <div class="card-background-page" ng-click="jump('banniIntroduce')">
                        <img src="img/info_3.jpg" class="img-responsive" alt=""/>
                        <div class="card-title2">班尼介绍</div>
                        <div class="card-subtitle2">BENNY INTRODUCE</div>
                    </div>
                </div>
                <div class="item item-text-wrap">
                    <div class="card-background-page" ng-click="jump('banniFunction')">
                        <img src="img/info_1.jpg" class="img-responsive" alt=""/>
                        <div class="card-title">班尼功能</div>
                        <div class="card-subtitle">BENNY FUNCTION</div>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-side-menu-content>
</ion-side-menus>
<div ng-include="'pages/include/footer.html'"></div>